@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
}

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* * {
    padding: 0;
    margin: 0;

} */

/* share style */
.display-flex{
    display: flex;
}

.text-color-1{
    color: #252432;
}
.text-color-2{
    color: #8987A1;
}

.text-color-3{
    color: #E95A08;
}

/* body section */
body{
    background-color: #F5F8FF;
}

/* header section */
.navbar{
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 50px;
}
.nav-link{
    text-decoration: none;
}
.nav-links{
    align-items: center;
}
.cart-img{
    margin-right: 8px;
}
.cart-div{
    align-items: center;
}
.text-home{
    color: black;
    font-weight: bold;
}

/* banner section */
.banner-section{
    max-width: 1440px;
    margin: 150px auto;
    
    
    
}

 .banner-details{
    padding-top: 120px;
 }
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    width: 700px;
    
}
.banner-description{
    margin-top: calc(-40px);
    width: 600px;
}
.hero-img{
     width: 700px;
    
}
/* .banner-img{
padding-right: 80px;
} */

/* main section */
/* our plant */
.our-plants-title{
    font-size: 3.15rem;
    font-weight: 700;
    text-align: center;
}
.our-plants-description{
    text-align: center;
}

/* flower-card */
.flower-card{
    text-align: center;
}
.card-img{
    width: 100%;
}
.btn-card{
    width: 100%;
    background-color: #E95A08;
    color: #F5F8FF;
    padding: 19px 80px;
    border: none;
}

.flower-card-container{
    max-width: 1440px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
}


  /* flower and plants lover section */
  .flower-plants-container{
    max-width: 1440px;
    margin: 150px auto;
    align-items: center;
    gap: 30px;
    
  }
  .flower-plants-details{
        max-width: 700px;
        
  }
  .flower-plants-img {
    max-width: 700px;
    max-height: 600px;
  }
   .flower-plants-img img{
       width: 700px;
       height: 600px;
   }
/* trusted badge */
.trusted-badge{
    position: absolute;
    max-width: 300px;
    margin-top: calc(-720px);
    margin-left: 530px;
     
}
.trusted-badge img{
width: 300px;
height: 300px;
animation: rotateBadge 7s linear infinite;
}
/* Keyframe animation for rotation */
@keyframes rotateBadge {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.trusted-badge img {
    width: 250px;
    height: 250px;
}


  .flower-plants-title{
    font-size: 3.125rem;
    font-weight: 700;
    margin-top: 0px;
  }
  .flower-plants-description{
    margin-top: 20px;
    
  }


  /* latest deals section */
  .deals-title{
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;
  }
  .deals-description{
    text-align: center;
  }

  .deal-bg-img-1{
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
  }
  .deal-bg-img-2{
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
  }
  .deal-bg-img-3{
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
  }

  .deal-container{
    max-width: 1440px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    gap: 20px;
  }
  .deal-grid-big {
      grid-column: 2/3;
      grid-row: 1/3;
  }
  .deal-grid-big p {
    text-align: center;
    margin-top: 100px;
  }
  .deal-grid{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;

  }
  .shop-now{
    color: white;
    font-size: 1rem;
    font-weight: 600;
  }
  .shop-now-2{
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
  }
  .deal-discount{
    font-size: 1.25rem;
    font-weight: 700;
  }
  .deal-discount-2 {
      font-size: 2.5rem;
      font-weight: 700;
  }
   
  
/* join section */
.join-section{
    width: 100%;
    height: 550px;
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.join-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.join-details h2{
    font-size: 3.125rem;
    font-weight: 700;
    color: white;
    text-align: center;
}
.email-box{
 width: 680px;
 padding: 19px;
 border: none;
}
.button-box{
   width: 140px;
   padding: 19px;
   background-color: #E95A08;
   color: white;
   border: none;
   margin: calc(-4px);
}

/* footer section */
footer{
    max-width: 1440px;
    margin: 50px auto;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}
footer li{
    list-style: none;
    margin-bottom: 32px;
}
footer a{
    text-decoration: none;
}

.footer-icon{
    display: flex;
    padding: 20px;
    gap: 20px;
}
.twitter{
    padding-top: 10px;
}



/* responsive for small device */

@media screen and (max-width: 576px) {
    .banner-section{
        margin: 50px auto;
    }
    .banner{
        flex-direction: column-reverse;

    }
    .item-hide{
        display: none;
    }
    .navbar{
        width: 100%;
       margin-left: 10px;
       
    }
    .cart-div{
        margin-top: 30px;

    }
        .hero-img{
            width: 100%;
        }

        .banner-details , .banner-description , .banner-title{
            max-width: 100%;
            margin: 0 auto;
            text-align: center;
            
        }

        /*flower card */
                .flower-card-container{
                    grid-template-columns: repeat(2, 1fr);
                    gap: 5px;
                    
                }

                /*   flower and plants lover section */
                                .flower-plants-container{
                                    flex-direction: column;
                                    
                                }
                             .flower-plants-img img{
                                width: 100%;
                             }
                         .flower-plants-title{
                                    text-align: center;
                                  }
        .deal-container{
            grid-template-columns: repeat(1 ,1fr);
            grid-template-rows: repeat(1 , 1fr);
        }
                .deal-grid-big {
                    grid-column: 1;
                    grid-row: 1;
                }

        /* input box */
        
                .email-box {
                   width: 218px;
                    border: none;
                }
        
                .button-box {
                    width: 103px;
                    margin: calc(-4px);
                }

                /* footer section */
                  .footer-container {
                      
                      grid-template-columns: repeat(1, 1fr);
                      
                  }
                  .footer-logo{
                    margin-left: 38px;
                  }
                  .footer-icon{
                    margin-left: 15px;
                  }
                      /* badge */
                      .badge-img {
                          display: none;
                      }
}

/* for medium device */

@media screen and (min-width : 576px ) and (max-width : 1024px) {
    .banner-section {
            margin: 50px auto;
        }
.banner {
        flex-direction: column;

    }

    .hero-img {
            width: 100%;
        }
    
        .banner-details,.banner-description,
        .banner-title {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 10px;
        }

          /*flower card */
          .flower-card-container {
             
              grid-template-columns: repeat(2, 1fr);
             gap: 15px;
          }


            /*   flower and plants lover section */
            .flower-plants-container {
                flex-direction: column;

            }

            .flower-plants-img img {
                width: 100%;
            }

            .flower-plants-title {
                text-align: center;
            }
                 .deal-container {
                     grid-template-columns: repeat(1, 1fr);
                     grid-template-rows: repeat(1, 1fr);
                 }

                 .deal-grid-big {
                     grid-column: 1;
                     grid-row: 1;
                 }
        /* input box */
    
        .email-box {
            width: 600px;
            border: none;
        }
    
        .button-box {
            width: 130px;
            margin: calc(-4px);
        }
                /* footer section */
                .footer-container {
        
                    grid-template-columns: repeat(3, 1fr);
                    padding: 20px;
        
                }

                /* badge */
                .badge-img{
                    display: none;
                }


}